*{
    margin: 0;
    padding: 0;
    cursor: url("../../website-images/common/wand-cursor.png"), auto !important;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #9C63E3;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #8860d0;
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	transition: opacity 4s, visibility 1s;
}

.loader-hidden {
	opacity: 2.5;
	visibility: hidden;
}

.loader::after {
	content: "";
	width: 75px;
	height: 75px;
	border: 15px solid #DDDDDD;
	border-top-color: #9C63E3;
	border-radius: 50%;
	animation: loading 0.75s ease infinite;
}

@keyframes loading {
	from {
		transform: rotate(0turn);
	}
	to {
		transform: rotate(1turn);
	}
}

main{

}

.container{
    padding-bottom: 30%;
    margin-top: 6%;
}

.infoaboutQuizzes{
    margin-top: 5%;
    margin: 2.2%;
    text-align: center;
    font-family: 'Poppins';
    font-size: 20px;
}

.infoaboutQuizzes hr{
    margin-bottom: 1%;
    margin-top: 1%;
}

.infoaboutQuizzes .userName{
    color: #73F6D0;
}

.quizzes{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-left: 1%;
}

.eachQuizz{
    font-family: 'Poppins';
    color: white;
    border-radius: 4px;
    text-align: center;
    padding: 8px;
    margin: 5px;
    background-color: #9F77C6;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.infoAboutQuizz{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 1px;
}

.infoBox{
    background-color: #7f5f9e;
    border-radius: 5px;
    padding: 1%;
    word-wrap: break-word; 
    max-width: 100%;
}

.additionalText1 {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.additionalText2 {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.additionalText3 {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.info1:hover .additionalText1 {
    opacity: 1;
}

#infos{
    flex-wrap: wrap;
    text-align: center;
}

.info2:hover .additionalText2 {
    opacity: 1;
}

.info3:hover .additionalText3 {
    opacity: 1;
}

.linkQuizz{
    cursor: pointer;
    text-decoration: none;   
    color: white;
}

.linkQuizz:hover img {
    opacity: 0.8;
}

.linkQuizz:hover h1 {
    color: #ADFFDE;
}

.quizzes img{
    border: solid 5px #6E1EB4;
    border-radius: 10px;
}

.noQuizzesFinished{
    margin-top: 0%;
    text-align: center;
}

.box1{
    margin: 50px;
    display: inline-block;
    text-align: left;
    font-family: 'Poppins';
    font-size: 22px;
}

.box1 p{
    color: white;
    margin-bottom: 10px;
}

.box1 .logoWiz{
    text-align: center;
}

.box1 hr{
    margin-bottom: 2%;
    margin-top: 2%;
}

.box1 .title{
    font-family: 'Harry Potter', sans-serif;
    font-size: 60px;
    color: #73F6D0;
    margin-bottom: 2%;
}

.box1 .logo{
    text-align: center;
    justify-content: center;
}

.titleAndLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleAndLogo img{
    margin-left: 2%;
}

.information{
    background-color: #9f77c6a6;
    border-radius: 4px;
    border: 2px solid rgba(110, 30, 180, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.information p{
    margin: 10px;
}

.box1 .boton{
    text-align: center;
    justify-content: center;
}

.boton .button{
    margin-top: 1%;
    width: 12%;
    color: #FFFFFF;
    background-color: #8D77C6;
    border-radius: 4px;
    padding: 1%;
    font-size: 20px;
    transition: all 0.5s linear;
}

.button:hover {
    cursor: pointer;
    box-shadow: 0 0 15px purple;
}

/* PHONE */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .container{
        margin-top: 15%;   
    }

    .box1 .boton{
        text-align: center;
        justify-content: center;
    }
    
    .boton .button{
        margin-top: 1%;
        width: 25%;
        height: 4em;
        color: #FFFFFF;
        background-color: #8D77C6;
        border-radius: 4px;
        padding: 1%;
        font-size: 20px;
        transition: all 0.5s linear;
    }

    .infoaboutQuizzes{
        margin: 25px;
    }

    .infoaboutQuizzes h1{
        font-size: 60px;
    }

    .quizzes{
        display: flex;
        flex-wrap: wrap;
        margin-top: 3%;
        text-align: center;
        justify-content: center;
        margin-inline: 25px;
    }
}

/* TABLET */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    .container{
        margin-top: 13%;
    }

    .box1 .boton{
        text-align: center;
        justify-content: center;
    }
    
    .boton .button{
        margin-top: 1%;
        width: 25%;
        height: 4em;
        color: #FFFFFF;
        background-color: #8D77C6;
        border-radius: 4px;
        padding: 1%;
        font-size: 20px;
        transition: all 0.5s linear;
    }

    .infoaboutQuizzes{
        margin: 35px;
    }

    .infoaboutQuizzes h1{
        font-size: 60px;
    }

    .infoaboutQuizzes p{
        font-size: 23px;
    }

    .quizzes{
        display: flex;
        flex-wrap: wrap;
        margin-top: 3%;
        text-align: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

/* LITTLE DESKTOP */
@media only screen and (min-device-width : 1280px) and (max-device-width : 1710px){
    .container{
        margin-top: 10%;
    }

    .box1 .boton{
        text-align: center;
        justify-content: center;
    }
    
    .boton .button{
        margin-top: 1%;
        width: 17%;
        color: #FFFFFF;
        background-color: #8D77C6;
        border-radius: 4px;
        padding: 1%;
        font-size: 20px;
        transition: all 0.5s linear;
    }

    .infoaboutQuizzes{
        margin: 25px;
    }

    .infoaboutQuizzes h1{
        font-size: 60px;
    }

    .infoaboutQuizzes p{
        font-size: 23px;
    }

    .quizzes{
        display: flex;
        flex-wrap: wrap;
        margin-top: 3%;
        text-align: center;
        justify-content: center;
    }
}