body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

main hr {
    border: none;
    width: 3px;
    border-radius: 50px;
    background-color: rgba(110, 30, 180, 0.5);
    margin-inline: 20px;
    height: 55vh;
    margin-top: 8%;
}

.general-message {
    flex: 1;
    text-align: center;
}

.general-message h1{
    padding-top: 15%;
    font-family: 'Harry Potter', sans-serif;
    color: #73F6D0;
    font-size: 70px;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.player-results{
    display: flex;
    justify-content:center;
}

#wand-icon img {
    height: 300px;
    padding-top: 2%;
    padding-bottom: 7%;
    margin-right: 175px;
}

#player-mark{
    width: 300px;
    height: 180px;
    background-color:#7320bcb3;
    border-radius: 10px;
    padding: 2px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    font-size: 24px;
    font-family: Popins;
    color: aliceblue;
    border: 10px solid #6E1EB4;
    margin-bottom: 40px;
}

.player-results h2 {
    font-family: "Arial Black", sans-serif;
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    font-size: 65px;
    background-size: 600%;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    animation: animate 5s linear reverse infinite;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    justify-content: center;
    margin-bottom: 40px;
}

@keyframes animate {
    0% { background-position: 0% }
    100% { background-position: 100% }
}

#ranking-position{
    margin-top: 20px;
    font-family: "Arial Black", sans-serif;
    font-size: 23px;
    color: #000000;
}

#ranking-number{
    font-family: "Arial Black", sans-serif;
    font-size: 80px;
    color: #73F6D0;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
}

.top-players {
    flex: 1;
    text-align: center;
    font-family: 'Harry Potter', sans-serif;
    color: #73F6D0;
    font-size: 70px;
}

#top-3-players {
    font-family: 'Harry Potter', sans-serif;
    color: #73F6D0;
    font-size: 70px;
    text-shadow: 0 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 60px;
}

#quizz-name{
    font-family: Popins, serif;
    font-size: 30px;
    color: black;
    text-align: center;
}

.winners-container{
    display: flex;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 100px;
    background-color:#7320bcb3;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    font-size: 24px;
    font-family: Popins;
    color: aliceblue;
    border: 10px solid #6E1EB4;
}

.username{
    color:rgb(255, 255, 255);
    font-size: 40px;
    margin-top: 10%;
}

.winners-info{
    display: flex;
    margin-left: auto;
}

.main-container{
    color: #ab73c9;
}

.low-user-info-container {
    display:inline-flex;
    justify-content: space-between;
    margin-inline: 50px;
}

.low-user-info-container img {
    align-self: flex-start;
    width: 25px; 
    height: 25px;
    position: absolute;
    margin-left: -55px;
    margin-top: 10px;
}

.low-user-info-container div {
    align-self: flex-end;
    position: relative;
    margin-top: 10px;
    text-align: right;
}
