* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #22242A;
}

#code-div {
    display: flex;
    align-items: center;
}

.wrapper {
    margin-top: 8vh;
    margin-bottom: 35vh;
}

#code {
    margin-left: 10px;
    color: #73F6D0;
}

.waiting-top {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
}

.waiting-top h1 {
    font-family: Poppins, serif;
    font-size: 64px;
    color: #FFFFFF;
}

.waiting-top h2 {
    font-family: Poppins, serif;
    font-size: 48px;
    color: #FFFFFF;
}

#input-wrapper {
    display: flex;
    align-items: center;
}

#waiting-tab-input {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    width: 245px;
    height: 45px;
}

#nextBox{
    margin-top: 3%;
}

#listPlayers{
    display: flex;
    justify-content: center;
    margin-top: 1%;
    text-align: center;

    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

#listPlayers p{
    border: 2px solid #73F6D0;
    padding: 1%;
    background-color: #9C63E3;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.input-group {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-bottom: 30px;
}

#title{
    color: #73F6D0;
}

#players{
    text-align: center;
    margin-top: 1%;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    color: white;
}

.waiting-bottom {
    margin-top: 5vh;
}

.input-group input {
    padding: 0.05% 0.5%;
    padding-left: 3%;
    margin-top: 0%;

    height: 35px;
    width: 95%;

    font-size: 1.5rem;
    text-align: left;
    border-radius: 10px;
}

.input-group button {
    margin-left: 10px;
    margin-top: 0;
    padding: 0.05% 0.5%;
    height: 40px;
    width: 80px;
    border-radius: 20px;
    font-family: Poppins, sans-serif;

    background-color: #7B2CBF;
    color: #FFFFFF;
    font-size: 18px;

    border: 2px solid rgba(0, 0, 0);

    cursor: pointer;
    transition: all 0.2s linear;
}

#input-group button:hover {
    background-color: #000000;
    box-shadow: 0 0 15px rgb(0, 0, 0);
}


#confirm-user-button {

    width: 200px;
    height: 50px;

    border-radius: 20px;
    font-family: "Roboto Thin", sans-serif;

    background-color: #7B2CBF;
    color: #FFFFFF;
    font-size: 30px;

    border: 2px solid rgba(0, 0, 0);

    cursor: pointer;
    transition: all 0.2s linear;

    margin-left: 5%;
    margin-right: 5%;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: scale(0.5);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: scale(1);
}

#code.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(50%);
    transition: all 2s;
}

#code.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#code-text.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50%);
    transition: all 2s;
}

#code-text.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

#input-wrapper.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(200%);
    transition: all 2.5s;
}

#input-wrapper.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22242A;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #DDDDDD;
    border-top-color: #9C63E3;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}