*{
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #9C63E3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #8860d0;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #DDDDDD;
    border-top-color: #9C63E3;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

main {
    padding-top: 170px;
    padding-bottom: 90px;
    min-height: 100vh;
    padding-inline: 300px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper img {
    padding-bottom: 30px;
}

#privacy-policy-info h1 {
    font-family: "Harry Potter", serif;
    font-size: 96px;
    text-align: center;
    text-shadow: 0 3px rgba(0, 0, 0, 0.2);
    color: #73F6D0;
}

.privacy-policy-text h2 {
    font-family: "Harry Potter", serif;
    font-size: 64px;
    text-shadow: 0 3px rgba(0, 0, 0, 0.2);
    color: #73F6D0;
}

.privacy-policy-text {
    padding-top: 20px;
    padding-bottom: 20px;
}

.privacy-policy-text p {
    font-size: 18px;
    text-align: justify;
    flex: max-content;
    font-family: Poppins, serif;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #9f77c6a6;
    border: 2px solid rgba(110, 30, 180, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.privacy-policy-rights p {
    font-size: 18px;
    text-align: justify;
    flex: max-content;
    font-family: Poppins, serif;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #9f77c6a6;
    border: 2px solid rgba(110, 30, 180, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.privacy-policy-rights {
    padding-top: 20px;
    padding-bottom: 20px;
}

.privacy-policy-rights ul {
    list-style: circle;
    flex: max-content;
    font-family: Poppins, serif;
    font-size: 18px;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 10px;
    background-color: #9f77c6a6;
    border: 2px solid rgba(110, 30, 180, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.privacy-policy-rights li {
    margin-left: 20px;
}

.privacy-policy-rights h2 {
    font-family: "Harry Potter", serif;
    font-size: 64px;
    text-shadow: 0 3px rgba(0, 0, 0, 0.2);
    color: #73F6D0;
}

a {
    color: #9C63E3;
}

/* Phone */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    main {
        padding-top: 140px;
        padding-bottom: 60px;
        padding-inline: 10px;
    }

    .wrapper img {
        height: 220px;
    }

    #privacy-policy-info h1 {
        font-size: 56px;
    }

    .privacy-policy-text {
        margin-inline: 10px;
    }

    .privacy-policy-text h2 {
        font-size: 24px;
    }

    .privacy-policy-text p {
        font-size: 14px;
    }

    .privacy-policy-rights {
        margin-inline: 10px;
    }

    .privacy-policy-rights h2 {
        font-size: 24px;
    }

    .privacy-policy-rights p {
        font-size: 14px;
    }

    .privacy-policy-rights ul {
        font-size: 14px;
    }

    .privacy-policy-rights li {
        margin-left: 20px;
    }
}

/* Tablet */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    main {
        padding-top: 140px;
        padding-bottom: 60px;
        padding-inline: 10px;
    }

    .wrapper img {
        height: 220px;
    }

    #privacy-policy-info h1 {
        font-size: 56px;
    }

    .privacy-policy-text {
        margin-inline: 10px;
    }

    .privacy-policy-text h2 {
        font-size: 32px;
    }

    .privacy-policy-text p {
        font-size: 18px;
    }

    .privacy-policy-rights {
        margin-inline: 10px;
    }

    .privacy-policy-rights h2 {
        font-size: 32px;
    }

    .privacy-policy-rights p {
        font-size: 18px;
    }

    .privacy-policy-rights ul {
        font-size: 18px;
    }

    .privacy-policy-rights li {
        margin-left: 20px;
    }
}